.meditation-layer
    display: flex
    flex-direction: column
    align-items: center
    img
        max-height: 40rem
        margin-bottom: 3rem
    &__text
        max-width: 80%
        margin-bottom: 1rem
    &__sage
        width: 80%
        text-align: right !important