.meditation-layer
    //border: 1px solid black
    display: flex
    flex-direction: column
    align-items: center
    img
        max-height: 40rem
    &__text
        max-width: 80%
        margin-bottom: 1rem
    &__sage
        width: 80%
        text-align: right !important
        margin-bottom: 8rem