@keyframes heardBeat
    0%
        transform: scale(1)
    68%
        transform: scale(1)
    76%
        transform: scale(1.02)
    84%
        transform: scale(1.005)
    92%
        transform: scale(1.02)
    100%
        transform: scale(1)

@keyframes none
    0%
        transform: scale(1)
    100%
        transform: scale(1)

@keyframes displayOn
    0%
        opacity: 0
        
    100%
        opacity: 1

@keyframes displayOff
    0%
        opacity: 1
        
    90%
        opacity: 0
        
    100%
        opacity: 0


        