//цвет текста
$tittle-color: #000000
$paragraph_color:#000000

//черный и белый цвет сайта
$color_white: #ffffff
$color_black: #000000

//тень для кнопок
$box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.3)
$hoverbox-shadow: 0rem .4rem .4rem rgba(0, 0, 0, .7)
$activebox-shadow: .5rem .5rem .4rem rgba(0, 0, 0, .7)
$stone-shadow: .5rem .7rem .7rem rgba(0, 0, 0, 0.25)

$font-size-paragraph:2rem

$container-width: 76.8rem
$paragraph-width: 80%

