body
    font-style: normal
    font-weight: 500
    
    color: $paragraph_color
    font-size: $font-size-paragraph
    user-select: none

p
    text-indent: 3.5rem


.tittle
    text-align: center
    color: $tittle-color
    text-shadow: $box-shadow
    font-weight: bold
    font-size: 4rem
    letter-spacing: 0.2rem

.paragraph
    text-align: justify
    font-weight: 400
    line-height: 2.2rem
    &:not(:last-child)
        margin-bottom: .8rem

.name
    font-style: italic

.span
    &_bold
        font-weight: bold
    &_ital
        font-style: italic
