.btn
    transition: .35s all
    img
        width: 4rem
    &:hover
        transform: scale(1.2)
        filter: drop-shadow($box-shadow)
    &:active
        transform: scale(1.2) translateY(.4rem)
        filter: drop-shadow($box-shadow)
