.copyright
    color: $color_black
    position: fixed
    right: 1.5rem
    bottom: .8rem
    font-size: 1.4rem
    opacity: .6

.info
    position: fixed
    right: 2rem
    top: 1.8rem
    transition: .35s all
    img
        width: 5rem
    &:hover
        transform: scale(1.2)
        filter: drop-shadow($box-shadow)
    &:active
        transform: scale(1.2) translateY(.4rem)
        filter: drop-shadow($box-shadow)



